/*.debhelper.log
/*.substvars
/.debhelper/
/build-mime/
/debhelper-build-stamp
/files
/gdk-pixbuf-tests/
/gir1.2-gdkpixbuf-2.0/
/libgdk-pixbuf-2.0-0-udeb/
/libgdk-pixbuf-2.0-0.postinst
/libgdk-pixbuf-2.0-0.postrm
/libgdk-pixbuf-2.0-0.triggers
/libgdk-pixbuf-2.0-0/
/libgdk-pixbuf-2.0-dev/
/libgdk-pixbuf2.0-0-udeb/
/libgdk-pixbuf2.0-bin/
/libgdk-pixbuf2.0-common/
/libgdk-pixbuf2.0-doc/
/tmp-udeb/
/tmp/
